.Header{
    display: flex;
    background-color: rgb(0, 0, 0);;
    text-decoration: none;
    justify-content: space-between;
    color: aliceblue;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    margin-left: 23rem;
}
.navb{
    text-decoration: none;
    color: white;
    
}
.navb:hover{
    color: coral;
}
.user{
    padding: 1rem;
    margin-right: 3rem;
}
.col-md-6 #p1{
    border-style: solid;
    border: 1px;
    border-color: black;
    border-radius: 0px 5px 0px 5px;
    margin-top: 0rem;
    
}
.row h3{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.footer{
    background-color: black;
    color: aliceblue;
    height: 15rem;
    text-align: center;
    padding-top: 5rem;
    margin-top: 2rem;
}